<!-- Modal -->
<div class="modal fade" id="add-member-modal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="font-weight-bold text-dark">
					Add member to this <%= award.badge.name %> Badge Class
				</h4>
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
			</div>
			<form role="form" id="add-member-form">
				<div class="modal-body">
					<div class="form-group">
						<label for="activity_name">Search And Add Member</label>
						<select id="member_id" name="member_id[]" placeholder="Pick someone"></select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success">Add</button>
					<button type="reset" class="btn btn-info">Reset</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	$(document).ready( async function(){
        $('#member_id').selectize({
            persist: false,
			maxItems: null,
			plugins: ['remove_button'],
			optgroupField: 'squad',
			optgroupLabelField: 'name',
			optgroupValueField: 'squad',
			optgroups: await $.get('/members/squad-list'),
            valueField: '_id',
            labelField: 'name',
            searchField: ['rank','name', 'squad'],
            options: await $.get('/awards/<%= award._id  %>/members'),
            render: {
                item: function(item, escape) {
                    return '<div>' + escape(item.rank) + ' ' + escape(item.name) + '</div>';
                },
                option: function(item, escape) {
					var rank = item.rank;
                    var name = item.name;
					
                    return '<div class="p-2">'+ escape(rank) + ' ' + escape(name) + '</div>';
				},
				optgroup_header: function(item, escape) {
					return '<div class="optgroup-header bg-danger text-light font-weight-bold text-center">Squad ' + escape(item.squad) + '</div>';
				}
            },
        });

		$('#add-member-form').submit( async (e)=>{
			e.preventDefault();
			const members_ids = $('[name="member_id[]"]').val();
			try{
				const res = await fetch('/awards/<%= award._id  %>/add-members',{
					method: 'POST',
					body: JSON.stringify({members_ids}),
                    headers: {'Content-Type':'application/json'}
				});

				const data = await res.json();

				if(data.errors){
					
				}
				console.log(data);
				if(data.success){
					Swal.fire({
						title: 'Add Successfully',
						text : 'Members has been added successfully',
						icon : 'success'
					}).then(()=>{location.assign('/awards/<%= award._id  %>');});
				}
			} catch(err){}
		});
	})
</script>